.navbar{
    background-color: transparent;
    padding: 1rem 0;
    position: absolute; /* allows it to float over the background */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.mouseingrass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
    
}
   
.mcdonaldsmockups {
    height: auto;
    width: 100%;
    display: block;
    margin-top: 600px;

}