.navbar{
    background-color: transparent;
    padding: 1rem 0;
    position: absolute; /* allows it to float over the background */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
   